
/* body {
  background: #323641;
} */


  .MenuItem{
    color: #43454d;
    text-decoration: none;
    padding: 11px;
    border-left: 2px solid white;
    margin: 15px;
  }

  .MenuItem:hover{
    background-color: white;
  }
  .topBar{
    background-color: #4ab0d4;
    padding: 25px;
  }
  