

body{
  margin: 0% !important;
}

.MenuItem{
  color: #ffffff;
  text-decoration: none;
  
  border-left: 2px solid rgb(165, 101, 17);
  
  transition: 400ms;
  display: none;
  font-size: 1rem;
  border-bottom: 2px solid rgba(85, 179, 90, 0);
  
}

.topbar{
  
  width: 100%;
  height: 4rem;
  background-color: black;
  opacity: 1;
  position: fixed;
  /* z-index: 1; */
}


.seed{
  width: 0.8rem;
  height: 2rem;
  border-radius: 50% 50% 10% 10%;
  background-color: rgba(134, 76, 28, 0.966);
  position: fixed;
  top: 1.5rem;
  left: 1.2rem;
  
}


/* resume Page css */
.resume{
  transform: scale(1);
  transform-origin: 0 0;
  width: 66.67%; 
  height: 100vh;
  
}
.resumeContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* stckers page container */
.stickersContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

/* where to find the css for other parts of the webpage */

/* project page and all poject page css*/
  /* project.css */

/* home page top banner and title text */
  /* home.css */

/* book for stickers css for animations and the like */
  /* book.css */

/* apple hamburger menu for navigation */
  /* apple.css */

  .educationContainer{
    margin: 10px;
    min-width: 840px;
    font-family: 'NeoBulletin Trash', sans-serif;
    color: #ffffff;                       
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  padding: 20px;
  border-radius: 30px;
  }

.certificate{
  max-block-size: 500px;
  /* position: relative;  */
  /* display: inline-block;  */
}
/* education page */
.listContainer{
  font-family: 'NeoBulletin Trash', sans-serif;
                                                
  display: flex;
  flex-direction: row;
    ul{
      li{
        padding-block: 10px;
      }
      color: rgb(214, 214, 198);
      font-size: 2rem;
    }
    ul li::marker {
      font-family: 'NeoBulletin Trash', sans-serif;                                
      content: '✓ ';
      font-size: 2rem;
    }
  }

.infoSelector{
  display: flex;
}
.infoItem{
    color: #ffffff;
    text-align: center;
    padding-inline: 20px;
    text-decoration: unset;
}
.infoItem:hover{
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 10px;
}
.selectedInfo{
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 10px;
}

