body{
  margin: 0% !important;
}

  .MenuItem{
    color: #ffffff;
    text-decoration: none;
    
    border-left: 2px solid rgb(165, 101, 17);
    
    transition: 400ms;
    display: none;
    font-size: 1rem;
    border-bottom: 2px solid rgba(85, 179, 90, 0);
    
    
    
  }

  .MenuItem:hover{
    
    border-radius: 10px 0px 10px 0px;
    background-color: rgba(0, 255, 64, 0.2);
    border-bottom: 2px solid rgb(85, 179, 90);
    border-left: 2px solid rgb(85, 179, 90);
    

  }
  .MenuItem2{
    color: #ffffff;
    text-decoration: none;
    
    border-right: 2px solid rgb(165, 101, 17);
    
    transition: 400ms;
    display: none;
    font-size: 1rem;
    border-bottom: 2px solid rgba(85, 179, 90, 0);
    
    
    
  }

  .MenuItem2:hover{
    
    border-radius: 0px 10px 0px 10px;
    background-color: rgba(0, 255, 64, 0.2);
    border-bottom: 2px solid rgb(85, 179, 90);
    border-right: 2px solid rgb(85, 179, 90);
    

  }
  .topBar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    /* background-color: #4ab0d4; */
    padding: 10px;
    padding-left: 20px;
    border-radius: 0px 0px 100px 100px ;
  }


  .Logo{
   background-image: url('public/pixil-frame-0.png');
   min-height: 2rem;
   min-width: 1.8rem;
   transition: 300ms;
   background-size: contain;
   display: flex;
   background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top:.5rem
  
  }

  .Logo:hover{
    scale:1000%;
    transform: translate(0rem,1.5rem);
    display: flex;
    max-width: 3rem;
    align-items: center;
    flex-direction: column;

    .MenuItem{
      opacity: 1;
      display: block;
      scale: 20%;
      
      
    }
    .MenuItem2{
      opacity: 1;
      display: block;
      scale: 20%;
      
      
    }
  }

 


  
  